* {
  margin: 0;
  font-family: 'Vollkorn', serif;
}
header {
  background-color: black;
}

.container {
  height: 60px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  height: 60px;
  vertical-align: middle;
}
#logo:hover {
  cursor: pointer;
}

.hero {
  height: 100px;
  background-color:rgb(196, 216, 223);
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 0px 1.5px #eee;
}

.container > h1 {
  color: white;
}

.nav a {
  text-decoration: none;
  margin-right: 10px;
  font-size: 1.123rem;
  /* color: rgb(107, 33, 76); */
  color: white;
}

.nav a:hover {
  text-decoration: underline;
}

.error {
  color: red;
}

.notification {
  color: white;
  padding: 10px;
  width: 90%;
  border-radius: 8px;
}

.success {
  background-color: rgb(81, 196, 81);
}

.fail {
  background-color: rgb(235, 86, 86);
}

label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 1.123rem;
  color: white;
}

input {
  padding: 3px;
  width: 80%;
  background: transparent !important;
  border-top: none;
  border-right: none;
  border-left: none;
}

form {
  margin: 0 auto;
  width: 70%;
}

.btn {
  display: block;
  margin-top: 10px;
  padding: 5px 20px;
  background-color: rgb(99, 167, 231);
  border-radius: 8px;
  width: 80%;
  color: white;
  font-size: 1.05rem;
}

select {
  padding: 3px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.test {
  padding: 20px;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 5px #eee;
  /* background-color: rgb(238, 220, 220); */
  background-color: rgb(146, 193, 238);
}

.users {
  display: flex;
  justify-content: center;
}

.users-table {
  width: 40%;
  margin-top: 20px;
  border-radius: 8px !important;
}
td {
  text-align: center;
}

table {
  border-collapse: collapse;
}
thead {
  background-color: rgb(216, 190, 190);
  color: black;
}
th,
td,
tr {
  padding: 8px;
  border: 2px solid #eee;
}
footer {
  background-color: black;
  height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer h2 {
  font-size: 1.123rem;
  color: white;
}